@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

html,
body {
	// position: absolute;
	// left: 0;
	// top: 0;
	// width: 100%;
	height: 100%;
	margin: 0;
	font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
}

// * {
// 	box-sizing: border-box;
// 	position: relative;
// }

#root {
	display: inline;
}

.text-link {
	font: inherit;
	color: inherit;
	text-decoration: inherit;
}
.text-link:hover {
	text-decoration: underline;
}

.app {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.mdc-ripple-upgraded {
	overflow: hidden;
	position: relative;
}

.mdc-theme--primary-bg {
	background: #eee;
}


body two-up {
	--track-color: #4837ac;
	--thumb-color: #fff;
	--thumb-background: #4837ac;
	--bar-size: 3px;
	--bar-touch-size: 16px;
	--thumb-size: 16px;
	height: 100%;
	width: 100%;
	display: flex !important;
	grid: none !important;

	> * {
		grid-area: none !important;
	}

	> :first-child {
		box-sizing: border-box;
		clip-path: none !important;
		order: 1;
	}

	> :nth-child(2) {
		box-sizing: border-box;
		clip-path: none !important;
		order: 3;
	}

	> :last-child {
		position: absolute;
		order: 2;
		z-index: 2;
	}

	&:not([orientation="vertical"]) {
		> *:first-child {
			width: var(--split-point, 50%);
			min-width: var(--split-point, 50%);
			max-width: var(--split-point, 50%);
		}

		> *:last-child {
			height: 100%;
		}
	}

	&[orientation="vertical"] {
		flex-direction: column;

		> *:first-child {
			box-sizing: border-box;
			clip-path: none !important;
			height: var(--split-point, 50%);
			min-height: var(--split-point, 50%);
			max-height: var(--split-point, 50%);
			order: 1;
		}

		> *:last-child {
			width: 100%;
		}
	}
}
