html,
body {
	height: 100%;
	margin: 0;
	font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
}

#root {
	display: inline;
}

.text-link {
	font: inherit;
	color: inherit;
	text-decoration: inherit;
}
.text-link:hover {
	text-decoration: underline;
}

.app {
	height: 100%;
	display: flex;
	flex-direction: column;
}

body .mdc-top-app-bar {
	position: relative;
}

.mdc-ripple-upgraded {
	overflow: hidden;
	position: relative;
}

.mdc-theme--primary-bg {
	background: #eee;
}
