.icon {
	margin-right: 10px !important;
}

.checkboxLabel {
	font-size: 120%;
	color: white;
	padding-left: 0;
}

.drawerHeader {
	background-color: #4801a5;
	color: white;
	letter-spacing: .5px;
	h3 {
		flex: 1;
		font-weight: normal;
		font-size: 160%;
		margin: .4em 0 0;
	}
	h4 {
		font-weight: 300;
		font-size: 110%;
		margin: 0;
	}
}

.item {
	margin-top: 2px !important;
	margin-bottom: 2px !important;
	line-height: 1.3 !important;
	cursor: pointer;
}

.exampleGroup {
	margin: 5px 0 0;
	padding: 5px 0 0;
	// border-top: 1px solid #ddd;
	box-shadow: 0 -0.5px 0 #eee;

	&:last-child {
		margin-bottom: 20px;
	}

	& & {
		box-shadow: none;
		margin: 2px 0 0 15px;
		padding: 0;
	}

	h4 {
		padding: 0 18px;
		margin: 0;
		font-weight: normal;
		color: #999;
		font-size: 110%;
	}
}

:global {
	body two-up {
		--track-color: #4837ac;
		--thumb-color: #fff;
		--thumb-background: #4837ac;
		--bar-size: 3px;
		--bar-touch-size: 16px;
		--thumb-size: 16px;
		height: 100%;
		width: 100%;
		display: flex !important;
		grid: none !important;

		& > * {
			grid-area: none !important;
		}

		& > :first-child {
			box-sizing: border-box;
			clip-path: none !important;
			order: 1;
		}

		& > :nth-child(2) {
			box-sizing: border-box;
			clip-path: none !important;
			order: 3;
		}

		& > :nth-child(3) {
			position: absolute;
			order: 2;
			z-index: 2;
		}

		&:not([orientation='vertical']) {
			& > *:first-child {
				width: var(--split-point, 50%);
				min-width: var(--split-point, 50%);
				max-width: var(--split-point, 50%);
			}

			& > *:nth-child(3) {
				height: 100%;
			}
		}

		&[orientation='vertical'] {
			flex-direction: column;

			& > *:first-child {
				box-sizing: border-box;
				clip-path: none !important;
				height: var(--split-point, 50%);
				min-height: var(--split-point, 50%);
				max-height: var(--split-point, 50%);
				order: 1;
			}

			& > *:nth-child(3) {
				width: 100%;
			}
		}
	}
}
